# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/

# =====================
# YOLO / Ultralytics
# =====================
dataset/dataset/
runs/
*.pt

# =====================
# OS / IDE
# =====================
.vscode/
.idea/
.DS_Store
Thumbs.db
